body, html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

.scene-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 30vh;
    margin: 0 auto;
    height: 70vh;
    width: 70vw;
    background-color: rgba(0, 0, 0, 0.3);
}
.scene {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0;
    opacity: 0;
    font-size: 4em;
    color: white;
    flex-wrap: wrap;
    display: block;
    font-family: 'Barrio', cursive;
    letter-spacing: 5px;
}

.subtitle {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

#scene1 {
  background-color: #F56991;
  padding-top: 10vh;
  z-index: 5;
}

#scene1 h3 {
  font-size: 2em;
  opacity: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
  font-family: 'Barrio', cursive;
}

.empty {
  height: 45vh;
  width: 70vw;
}

.arrow {
  height: 60px;
  width: 60px;
  margin-bottom: 10vh;
  z-index: 5;
  animation-name: bounce;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-iteration-count: 3;
}

@-webkit-keyframes bounce {
  0% {margin-bottom: 10vh;}
  50% {margin-bottom: 25vh;}
  100% {margin-bottom: 10vh;}
}

#scene2 {
    background-color: #D1F2A5;
    color: #fafafa;
}

.outerText {
  overflow: scroll;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.innerText {
  font-size: 1.2em;
  text-align: justify;
  display: flex;
  margin: 0 2vw;
}

.innerText p {
  margin-right: 4vw;
}

#skills {
  font-family: 'Barrio', cursive;
}

/*#scene2 p {
  padding: 0 10vw;
  overflow: scroll;
  font-size: 1.2em;
}*/

h2 {
  font-family: 'Barrio', cursive;
  letter-spacing: 10px;
  color: #fafafa;
}

#scene3 {
    background-color: #FFC48C;
}

.mars {
  letter-spacing: 3px;
}

.project-container {
  width: 60vw;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-y: scroll;
  z-index: 2;
}

.project-item {
  margin: 0 20px 0 20px;
  align-content: center;
  text-align: center;
  width: 400px;
}

.project-item img {
  height: 200px;
  width: 400px;
  display: flex;
  box-sizing: border-box;
}

.modalbtn {
  height: 2vh;
  width: 2vw;
  background-color: red;
}

#heyoModal {
  display: none;
}

#mfmModal {
  display: none;
}

#monsterFishModal {
  display: none;
}

.modal {
  color: #fafafa;
  text-align: center;
  /*height: 0;
  width: 0;
  opacity: 0;*/
  top: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}

.modal p {
  padding: 0 23%;
  text-align: justify;
}

.project-image {
  height: 0vh;
  width: 0vw;
}

.x h2:hover {
  color: #F56991;
}

#scene4 {
    background-image: url("./images/sky5.jpg");
}


/******************************************************************media query section */
@media only screen and (max-width: 768px) {
    .title { font-size: 1em; }
    h3, p { font-size: 0.8em; }
    #triangles { visibility: hidden; }
    .project-item img { height: 10vh; width: 25vw; }
    #heyoModal img { height: 10vh; width: 25vw; }
    .outerText { flex-direction: column; overflow: scroll;}
    .innerText { font-size: 1em; }
}







